.intro {
	width:100%; 
	height:490px;
}

.intro img{
	border-radius: 4px 4px 4px 4px;
	width:100%; 
	height:100%;
}

.inputFormBg{
	background-color: #cccccc;
	background-image:  url("../images/background.jpg");
	background-repeat: no-repeat;
	background-size:100% 490px;
}
.resultFrontBg{
	background-color: #cccccc;
	background-image:  url("../images/result_card_content.png");
	background-repeat: no-repeat;
	background-size:100% 490px;
}

.backgroundImg{
	background-color: #cccccc;
}

.cfont1{
	color: #ffffff;
}

.secdFoot{
	 /* 設定footer的高度 */
    height: 40px;
    box-sizing: border-box;
    /* 設定footer絕對位置在底部 */
    position: absolute;
    /* 展開footer寬度 */
    width: 100%;
	margin-left:30px;
	
}

.itemIcon{
	border-radius: 50%;
    display: block;
    height: 120px;
    margin: 10px auto 0;
    overflow: hidden;
    width: 120px;
}

.BackBg{
	background-color: #cccccc;
	background-image:  url("../images/card_2.jpg");
	background-repeat: no-repeat;
	background-size:100% 490px;
}

.spaceDRK{
	height: 20px;
    display: block;
	
}

.textblock{
	height: 120px;
	display: block;
}
.prom{
	height: 60px;
	display: block;
	vertical-align: bottom;
	color: red !important;
}

.shareBtn{
	position:absolute;
	bottom:30px;
	right:-90px;
	z-index:100;
}